
.boxmodel{
	width: 450px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 40px;
}
.cancel{
	margin-left: auto;
	align-self: center;
	margin-right: 10px; 
}
.cancel img{
	cursor: pointer;
}
.boxmodel_body{
	padding: 30px 30px;
	height: 250px;
}
.bodytext p{
	margin: 0;
	text-align: center;
	color: rgba(91,91,91,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.boxmodel form{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.boxmodel form input[type=email], input[type=password]{
	height: 50px;
	border: none;
	border-bottom: 1px solid grey;
	text-align: center;
	padding-top: 20px; 
	margin-top: 20px;
	color: rgba(91,91,91,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.boxmodel form input:focus{
	outline: none;
}
.boxmodel form input::placeholder{
	text-align: center;
	font-size: 12px;
	font-weight: 400;
}

.boxmodel form input[type=submit]{
	height: 40px;
	border: none;
	border-radius: 10px;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	background-color: var(--default-color);
	cursor: pointer;
	margin: 40px 0px 40px 0px;
}
.boxmodel_body2{
	display: flex;
	align-items: center;
	justify-content: center;
}
.boxmodel_body3 form input[type=password]{
	margin:0;
}
.boxmodel_body3 form input[type=submit]{
	margin:20;
}

@media (min-width: 1281px) {

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
 
	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  
	.boxmodel{
		margin-top: 50px;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  	
	.boxmodel{
		margin-top: 50px;
		width: 300px;

	}
	.boxmodel_body{
		padding: 10px 20px;
	}

}