
/*============================	Main Box Model	updated	============================*/
.boxmodel{
	width: 70%;
	margin: auto;
	margin-top: 100px;
	border: 1px solid lightgrey;
	overflow: hidden;
	box-shadow: 2px 2px 1px #aaaaaa;
}
.boxmodel_topbar{
	display: flex;
	background-color: #f0ecec;

}
.boxmodel_title{
	margin: 0;
	background-color: var(--default-color);
	transform: skewX(-24deg);
	width: 400px;
	padding: 5px 5px 5px 30px;
	position: relative;
	right: 12px;
}

.boxmodel_title > * { 
	transform: skewX(24deg); 
}
.boxmodel_title p{
	margin: 0;
	margin-left: 10px;
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	color: rgba(248,248,248,255);
}
.extra{
	width: 5px;
	background-color: var(--default-color);
	transform: skewX(-24deg);
	position: relative;
	right: 12px;
	margin-left: 5px; 
}
.boxmodel_nav{
	display: flex;
	align-items: center;
	margin-left: auto;
}
.boxmodel_nav a{
	margin-right: 30px;
}
.boxmodel_nav a img{
	width: 8px;
}
.boxmodel_body{
	padding: 30px 50px;
	background-color: #f8f4f4;
}
/*============================	Main Box Model		============================*/



.news_boxmodel_body{
	display: flex;
	justify-content: space-between;
}
.newscards{
	width: 32%;
	overflow: hidden;
}
.newsimg{
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 200px;
	background: url('./engine-news.jpg');
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center;
}
.newsimg img{
	width: 100%;
	height: auto;
}
.newsdate{
	position: relative;
	bottom: 50px;
	display: flex;
	align-items: center;

	width: 150px;
	height: 30px;
	margin: 0;
	background-color: var(--default-color);
	transform: skewX(-24deg);
	padding: 5px 5px 5px 25px;
	position: relative;
	right: 12px;
}
.newsdate > * { 
	transform: skewX(24deg); 
}
.newsdate p{
	margin: 0;
	margin-left: 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 8px;
	color: rgba(248,248,248,255);
	letter-spacing: 1px;
}
.namecomment{
	display: flex;
	align-items: center;
	font-size: 10px;
	margin-top: 5px;
}
.name, .comment{
	display: flex;
	align-items: center;
	margin-right: 20px;
}
.newstitle h4{
	margin: 5px 0;
	color: rgba(91,91,91,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.newstitle h4 a{
	color: rgba(91,91,91,255);
	text-decoration: none;
}
.newsdesp p{
	margin:0;
	color: rgba(91,91,91,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1;
	font-size: 10px;
	text-align: justify;
}
.userlogo, .commentlogo{
	margin-right: 3px;

}
.userlogo img, .commentlogo img{
	width: 100%;
	height: auto;
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  */

  @media (min-width: 1281px) {

}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    .boxmodel{
        width: 80%;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    
    .boxmodel{
        width: 95%;
    }


}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    
    .boxmodel{
        width: 100%;
    }

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    
    .boxmodel{
        width: 100%;
    }
    .boxmodel_title{
        width: 300px;
    }
    .boxmodel_body {
        padding:20px;
    }
    .newsimg {
        height: 150px;
    }
    .newsdate {
        bottom: 30px;
        width: 120px;
    }
    .newsdate p{
        font-size: 7px;
    }
    .name {
        margin-right: 0px;
    }
    .comment{
        margin-right: 0px;
        margin-left: auto;
    }
    .newstitle h4{
        font-size: 15px;
    }
    .newsdesp{
        height: 2em;
        overflow: hidden;
    }
    .newsdesp p{
        line-height: 1em;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
   
    .boxmodel{
        width: 100%;
    }
    .boxmodel_title{
        width: 250px;
        font-size: 10px;
    }
    .news_boxmodel_body{
        display: grid;
        grid-template-columns: repeat(3, 170px);
        grid-gap: 20px;
        overflow-x: scroll;
    }
    .newscards{
        width: 100%;
    }
    .newsimg {
        height: 150px;
    }
    .newsdate {
        bottom: 30px;
        width: 120px;
    }
    .newsdate p{
        font-size: 7px;
    }
    .name {
        margin-right: 0px;
    }
    .comment{
        margin-right: 0px;
        margin-left: auto;
    }
    .newstitle h4{
        font-size: 15px;
    }
    .newsdesp{
        height: 2em;
        overflow: hidden;
    }
    .newsdesp p{
        line-height: 1em;
    }

}