.boxmodel {
  width: 40%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  .body {
    padding: 35px 25px;
    h3 {
      color: grey;
      margin: 0;
      font-weight: 600;
      //   font-size: 12px;
      font-family: 'Open Sans', sans-serif;
    }
    p {
      margin-top: 5px;
      color: grey;
      font-weight: 600;
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
    }
    .form {
      width: 100%;
      margin: 30px 0px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .row {
        display: flex;
        width: 80%;
        flex-direction: column;
        margin: 10px 0px;
        button {
          margin: 30px 0 0 0;
          height: 35px;
          width: 100%;
          border-radius: 5px;
          outline: none;
        }
        p {
          text-align: center;
          margin-bottom: 25px;
        }
        span {
          display: flex;
          .error {
            font-size: 10px;
            color: red;
            margin-left: auto;
          }
        }
        label {
          display: flex;
          margin-bottom: 7px;
          font-weight: 700;
          font-size: 12px;
          color: grey;
          font-family: 'Open Sans', sans-serif;
        }
        input[type='text'],
        input[type='textarea'],
        select {
          height: 35px;
          width: 100%;
          border-radius: 5px;
          outline: none;
          border: 1px solid lightgrey;
          box-shadow: 1px 1px 1px #aaaaaa;
          //   text-align: center;
          color: grey;
          font-weight: 600;
          font-size: 11px;
          font-family: 'Open Sans', sans-serif;
          text-align-last: center;
          //   text-align: center;
          padding-left: 10px;
          //   -ms-text-align-last: center;
          //   -moz-text-align-last: center;
        }
        input[type='textarea'] {
          height: 100px;
          //   line-height: 100px;
          text-align-last: unset;
          padding-bottom: 80px;
        }
        input[type='radio'] {
          width: 12px;
        }
        .radio {
          display: flex;
          //   justify-content: center;
          align-items: center;
          label {
            margin: 0;
            margin-right: 20px;
            font-size: 12px;
          }
          span {
            font-weight: 400;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            color: grey;
            margin-right: 15px;
          }
        }
        table {
          width: 100%;
          td {
            width: 33.33%;
            height: 30px;
            font-size: 12px;
            color: grey;
            font-weight: 600;
            input[type='checkbox'] {
              // width: 8px;
              // margin-top: 10px;
            }
          }
        }
      }
      .uploadrow {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .upload {
          padding: 30px;
          border: 1px dotted grey;
          width: 85%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          font-size: 12px;
          color: grey;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          .uploadphoto {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding: 10px;
            border: 1px solid lightgrey;
            width: 190px;
            height: 130px;
            label {
              img {
                cursor: pointer;
              }
            }
            input[type='file'] {
              display: none;
            }
          }
          .uploadedphotos {
            margin: 20px 0;
            ul {
              display: flex;
              padding: 0;
              overflow-x: auto;
              li {
                list-style-type: none;
                margin-right: 10px;
                width: 90px;
                .subimg1 {
                  width: 90px;
                  height: 80px;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
      hr {
        border: 1px solid lightgrey;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}
@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .boxmodel {
    width: 74%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .boxmodel {
    width: 74%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .boxmodel {
    width: 100%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .boxmodel {
    width: 100%;
    .body {
      .form {
        .row {
          table {
            tr {
              td {
                font-size: 9px;
              }
            }
          }
        }
      }
    }
  }
  .uploadedphotos {
    display: none;
  }
}
