.container {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  grid-gap: 70px;
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5b5b5b;
    height: 394px;
    font-family: 'Open Sans', sans-serif;
    // font-weight: 700;
    // font-size: 14px;
    .top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 347px;
      img {
        margin: 25px 0px;
        width: 200px;
      }
      h2 {
        margin: 0;
        font-size: 26px;
        font-weight: 700;
      }
      h4 {
        margin: 0px;
        font-size: 12px;
        font-weight: 600;
      }
      button {
        margin: 30px 0;
      }
    }
    .top2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 347px;
      width: 100%;
      .row1 {
        display: flex;
        .middle {
          border-right: 1px solid lightgray;
          margin: 0 20px;
        }
      }
      .row2 {
        display: flex;
        .middle {
          border-right: 1px solid lightgray;
          margin: 0 20px;
        }
      }
      .bottom {
        border-bottom: 1px solid lightgray;
        margin: 20px 0;
        width: 90%;
      }
    }
    .top3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      height: 347px;
      width: 100%;
      overflow: hidden;
      // padding: 20px;
      &:hover {
        overflow-y: auto;
      }
      & > :nth-child(1),
      > :nth-child(3) {
        background-color: #f7f5f5;
        border-bottom: 1px solid #f7f5f5;
        border-top: 1px solid #f7f5f5;
      }
    }
    hr {
      width: 90%;
      border: 1px solid lightgray;
      margin: 0;
    }
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      //   width: 50px;
      height: 45px;
      color: var(--default-color);
      font-size: 12px;
      font-weight: 600;
      text-decoration: underline;
      //   margin: 10px 0px;
    }
  }
}

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1045px) and (max-width: 1280px) {
  .container {
    width: 70%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1044px) {
  .container {
    width: 95%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    width: 95%;
  }
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 50%;
    grid-template-columns: 100%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 90%;
    grid-template-columns: 100%;
  }
}
