


.boxmodel{
	/* width: 400px; */
	/* margin: auto; */
	/* margin-top: 100px; */
	border: 1px solid lightgrey;
	overflow: hidden;
	box-shadow: 2px 2px 1px #aaaaaa;
}
.boxmodel_topbar{
	display: flex;
	background-color: #f0ecec;
}
.boxmodel_title{
	margin: 0;
	background-color: var(--default-color);
	transform: skewX(-24deg);
	/* width: 35%; */
	padding: 5px 5px 5px 30px;
	position: relative;
	right: 12px;
}

.boxmodel_title > * { 
	transform: skewX(24deg); 
}
.boxmodel_title p{
	margin: 0;
	margin-left: 10px;
	margin-right: 100px;
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	color: rgba(248,248,248,255);
}
.extra{
	width: 5px;
	background-color: var(--default-color);
	transform: skewX(-24deg);
	position: relative;
	right: 12px;
	margin-left: 5px; 
}


@media (min-width: 1281px) {

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
 

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  
	.boxmodel{
		margin-top: 50px;
	}
	.boxmodel_title p{
		margin-right: 70px;
		font-size: 20px;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  
	.boxmodel{
		margin-top: 50px;
	}
	.boxmodel_title p{
		margin-right: 70px;
		font-size: 20px;
	}


}