.inboxrow {
  border-bottom: 1px solid lightgrey;
  width: 100%;
  padding: 20px 20px;
  .inboxrow2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    .inboximg {
      margin-right: 20px;
      img {
        width: 45px;
        height: auto;
      }
    }
    .inboxmessage {
      color: rgba(91, 91, 91, 255);
      font-family: 'Open Sans', sans-serif;
      width: 100%;
      .inboxnametime {
        display: flex;
        justify-content: space-between;
        .name {
          font-weight: 700;
          font-size: 12px;
        }
        .time {
          font-weight: 400;
          font-size: 10px;
        }
      }
      .inboxtext {
        .text {
          font-weight: 400;
          font-size: 10px;
        }
      }
    }
  }
}
