footer{
	background-color: #141414;
	justify-content: center;
	/*overflow: hidden;*/
	height: 500px;
	color: white;
	padding:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.insidefooter{
	box-sizing: border-box;
	padding: 20px;
	height: 300px;
	width: 80%;
	margin: auto;
}
.foottitle{
	margin-left: 15px;
	margin-bottom: 20px;
	font-family: 'Bebas Neue', cursive;
	font-size: 28px;
	color: rgba(248,248,248,255);
	letter-spacing: 2px;
}
.links{
	display: flex;	
	width: 100%;
}
.footerdata li{
	margin: 15px 150px 15px 15px;
}
.footerdata ul{
	list-style-type: none;
	padding: 0;
}
.footerdata a{
	color: rgba(255,254,254,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-decoration: none;
}
.footerimg{
	display: flex;
}
.footerimg1 img{
	width: 150px;
	height: auto;
	border: 5px;
	border-radius: 5px;
	margin-left: 5px;
}
.footerdata{
	display: flex;
}
.footerdata1{
	text-align: right;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}
.socialimg{
	display: flex;
}
.socialimg img{
	width: 50px;
	height: auto;
	/*margin-left: 5px;*/
	border-radius: 50%
}
.socialimg1{
	margin-left: 5px;
	border-radius: 50%
}
.downloadtext p{
	margin-bottom: 0;
}
.copyright{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	margin-top: 50px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
 
	
	.footerdata{
		width: 225px;
	}
	.insidefooter{
		margin-left: 0;

	}
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	
	.insidefooter{
		margin-left: 0;

	}
	.footerdata{
		width: 225px;
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  	
	footer{
		padding: 10px;
		height: 800px;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.copyright{

		text-align: center;
	}
	.footerdata li{
		margin-right: 50px ;
	}
	.insidefooter{
		margin: 0;
		height: 600px;
	}
	.links{
		display: grid;
		grid-template-columns: 50% 50%;
	}
	.footerdata1{
		width: 400px;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  	
	
	footer{
		padding: 10px;
		height: 700px;
		justify-content: flex-start;
		align-items: flex-start;
		font-size: 12px;
	}
	.copyright{
		text-align: center;
		font-size: 12px;
	}
	.footerdata li{
		margin-right: 50px ;

	}
	.insidefooter{
		margin: 0;
		height: 600px;
	}
	.links{
		display: grid;
		grid-template-columns: 50% 50%;
	}
	.footerdata1{
		width: 300px;
		align-items: flex-start;
	} 
}