

.boxmodel{
	width: 450px;
	margin: auto;
	margin-top: 100px;
}
.boxmodel_body{
	padding: 30px 50px;
}
.signUpForm{
	display: flex;
	flex-direction: column;
}
.signUpForm  input[type=email], .signUpForm  input[type=password], .signUpForm  input[type=text] {
	height: 50px;
	border: none;
	border-bottom: 1px solid grey;
	text-align: center;
	padding-top: 20px; 
	color: rgba(91,91,91,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.signUpForm input:focus{
	outline: none;
}
.signUpForm input::placeholder{
	text-align: center;
	font-size: 12px;
	font-weight: 400;
}
.checkbox{
	display: flex;
	margin: 20px 0px;
	align-items: center;
	justify-content: flex-start;
}
.signUpForm label{
	color: rgba(91,91,91,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	margin-left: 5px;
}
/*.signUpForm input:first-child{
	margin-bottom: 10px;
}*/
.signUpForm a{
	text-align: right;
	text-decoration: none;
	color: rgba(91,91,91,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	margin: 5px 0px 20px 0px;
}
.signUpForm input[type=submit]{
	height: 40px;
	border: none;
	border-radius: 10px;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	background-color: var(--default-color);
	cursor: pointer;
}

.afterform {
	margin-top: 30px;
}
.socialtext p{
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid grey; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}
.socialtext p span{
	background:#fff; 
    padding:0 10px; 
    color: rgba(91,91,91,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 10px;
}
.sociallinks{
	display: grid;
	grid-template-columns: 48% 48%;
	justify-content: space-between;
}
.sociallinks img{
	width: 100%;
	height: auto;
}
.signin{
	text-align: center;
	color: rgba(91,91,91,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 10px;
}
.signin a{
	text-decoration: underline;
	color: var(--default-color);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 10px;
}


@media (min-width: 1281px) {

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
 
	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  
	.boxmodel{
		margin-top: 50px;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  	
	.boxmodel{
		margin-top: 50px;
		width: 300px;

	}
	.boxmodel_body{
		padding: 10px 20px;
	}

}