
.searchcar{
	width: 40%;
	background-color: white;
	overflow: hidden;
}
.downarrow, .uparrow{
	background-color: #f8f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.uparrow{
	margin-bottom: 5px;
}
.downarrow{
	margin-top: 5px;
}
.uparrow img{
	transform: rotate(-90deg);

}
.downarrow img{
	transform: rotate(-90deg);
}
.search_card_col{
	height: 400px;
}
.search_card_col:hover{
	overflow-x:scroll ;
}
.search_card_col a{
	text-decoration: none;
}
.search_card{
	/*display: flex;*/
	width: 100%;
	padding: 20px 10px 20px 30px;
	margin-bottom: 2px;
	background-color: #f8f4f4;
}
.search_card:hover{
	position: relative;
	/*background-color: lightgrey;*/
	box-shadow: 15px 2px 25px #aaaaaa;
}

.card_title{
	width: 100%;
}
.card_title h2{
	margin: 0;
	margin-bottom: 10px;
	color: rgba(93,93,93,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.card_price_search{
	display: flex;
	align-items: center;
}
.card_price p{
	margin: 0;
	color: rgba(93,93,93,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 12px;
}
.card_search{
	margin-left: auto;
	/* display: none; */
}
.card_search a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 10px;
	color: white;
	background-color: var(--default-color);
	padding: 8px 25px;
	border-radius: 5px;
	cursor: pointer;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  */

  @media (min-width: 1281px) {

}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    


}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

   

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
   
    .search_card_col {
        height: 300px;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    
    
    .searchcar{
        display: flex;
        width: 100%;
        /*height: 200px;	*/
    }
    .uparrow, .downarrow{
        width: 10%;
        margin: 0;
    }
    .uparrow img{
        transform: rotate(-180deg);
    }
    .downarrow img{
        transform: rotate(-180deg);
    }
    .search_card_col {
        height: auto;
        display: grid;
        grid-template-columns: repeat(50, 250px);
        grid-gap: 5px;
        overflow-x: scroll;
        width: 80%;
    }
    .search_card{
        padding: 20px;
        height: 120px;
    }
    .card_price_search{
        /*flex-direction: column;*/
    }
    .card_price{
        width: 100%;
    }
}