.container {
  // overflow-x: hidden;
  // overflow-y: visible;
  position: relative;
}
.header {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 50px;
  align-items: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 255);
  // overflow: hidden;
}

.leftheader {
  /*display: grid;
	grid-template-columns:50% 50%;*/
  /*grid-gap: 30px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.lefttext {
  display: flex;
}
.lefttext p {
  margin-left: 40px;
  color: rgba(91, 91, 91, 255);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.lefttext p:hover {
  cursor: pointer;
}

.rightheader {
  /*display: grid;
	grid-template-columns: 150% 50%;*/
  display: flex;
  justify-content: flex-start;
  background-color: var(--default-color);
  padding-left: 50px;
  transform: skewX(-24deg);
  height: 50px;
}
.rightheader > * {
  transform: skewX(24deg);
}
.righttext {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.loggedinheader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  .loggedinheaderleft {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .dropdown {
      // position: relative;
      // display: inline-block;
      cursor: pointer;
      img {
        margin-top: 3px;
        cursor: pointer;
      }
      .dropdown_content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
          color: rgba(91, 91, 91, 255);
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
  }

  img {
    // width: 20px;
    margin-left: 5px;
    cursor: pointer;
  }
  .likeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 0px 10px;
    img {
      margin: 0 10px;
      cursor: pointer;
      width: 18px;
    }
  }
}

.righttext a {
  text-decoration: underline;
  color: white;
}
.smallheader {
  /*display: flex;*/
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: #f0ecec;
  position: relative;
}
.smalltext {
  display: flex;
  /*flex-direction: column;*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px 10px 10px 10px;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
}
.smalltext p {
  margin: 0;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: rgba(91, 91, 91, 255);
}
.smalltext a {
  color: rgba(91, 91, 91, 255);
  text-decoration: underline;
}
.smalllogo {
  margin-left: 20px;
  transform: skewX(-34deg);
  background-color: var(--default-color);
  width: 150px;
  position: relative;
  right: 45px;
  height: 70px;
  display: flex;
  align-items: center;
}
.smalllogo > * {
  transform: skewX(34deg);
}
.smalllogo a {
  text-decoration: none;
  color: rgba(255, 255, 255, 255);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-left: 45px;
}

.nav {
  display: grid;
  grid-template-columns: 35% 65%;
  font-size: 12px;
  background-color: #f0ecec;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.leftnav {
  display: flex;
  position: relative;
  width: 110%;
  right: 36px;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--default-color);
  padding: 10px;
  transform: skewX(-24deg);
}
.leftnav > * {
  transform: skewX(24deg);
}
.logo {
  position: relative;
  right: 200px;
}
.logo a {
  text-decoration: none;
  color: white;
  font-family: 'Bebas Neue', 'Serif';
  font-size: 25px;
  letter-spacing: 2px;
}
.rightnav {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  height: 50px;
}
.nav ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  align-items: center;
}
.nav ul li {
  margin-left: 30px;
  text-align: center;
}
.nav ul a {
  text-decoration: none;
  color: rgba(91, 91, 91, 255);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.nav ul a:hover {
  color: grey;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    grid-template-columns: 60% 40%;
  }
  .nav {
    grid-template-columns: 30% 70%;
  }
  .logo {
    right: 70px;
  }
  .righttext p {
    margin: 2px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .header {
    grid-template-columns: 60% 40%;
  }
  .righttext {
    flex-direction: column;
    justify-content: center;
  }
  .righttext p {
    margin: 2px;
  }
  .nav {
    grid-template-columns: 30% 70%;
  }
  .logo {
    right: 70px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    display: none;
  }

  .smallheader {
    display: flex;
  }

  .smalltext p {
    font-size: 12px;
  }
  .loggedinheader {
    margin-right: 10px;
    color: var(--default-color);

    .likeimg {
      border-left: 1px solid var(--default-color);
      border-right: 1px solid var(--default-color);
    }
  }
  .nav {
    display: flex;
    height: 60px;
  }
  .leftnav {
    display: none;
  }
  .rightnav {
    justify-content: flex-start;
    width: 100%;
    background-color: var(--default-color);
  }
  .rightnav ul {
    display: block;
    padding-left: 10px;
    width: 100%;
  }
  .rightnav li {
    float: left;
    margin-left: 0px;
    margin-right: 20px;
  }
  .rightnav ul li a {
    color: white;
  }
  .consolt {
    position: absolute;
    right: 10px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    display: none;
  }
  /*	.righttext{
		flex-direction: column;
		justify-content: center;
	}
	
	.righttext p{
		margin: 2px;
	}

	.lefttext{
		flex-direction: column;
	}
	.lefttext p{
		margin: 2px;
	}*/
  .smallheader {
    display: flex;
    justify-content: space-between;
  }
  .smalltext {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 200px;
  }
  .smalltext p {
    font-size: 11px;
  }
  .loggedinheader {
    margin-right: 10px;
    color: var(--default-color);
    .likeimg {
      border-left: 1px solid var(--default-color);
      border-right: 1px solid var(--default-color);
    }
  }
  .nav {
    display: flex;
    height: 40px;
    margin-top: 20px;
  }
  .leftnav {
    display: none;
  }
  .rightnav {
    justify-content: flex-start;
    width: 100%;
    background-color: var(--default-color);
  }
  .rightnav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    width: 100%;
  }
  .rightnav li {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 10px;
  }
  .rightnav ul li a {
    color: white;
  }

  /*	.logo{
		right: 40px;
	}*/
}
