
.boxmodel{
	width: 70%;
	margin: auto;
	margin-top: 100px;
}
.boxmodel_body{
	padding: 30px 50px;
	background-color: #f8f4f4;
}

.add_cards{
	display: flex;
	justify-content: space-between;
	/*padding: 30px 50px;*/
	/*background-color: #f8f4f4;*/
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  */

  @media (min-width: 1281px) {

}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    
    .boxmodel{
        width: 80%;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    
    .boxmodel{
        width: 95%;
    }


}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

   
    .boxmodel{
        width: 100%;
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
   
    .boxmodel{
        width: 100%;
    }
    .boxmodel_body {
        padding:20px;
    }
    .add_cards{
        padding: 5px;
    }

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    
    .boxmodel{
        width: 100%;
    }
    .relatedads_boxmodel{
        margin-top: 0;
    }
    .boxmodel_body {
        padding:20px;
    }
    .vhr{
        display: none;
    }
    .add_cards{
        padding: 5px;
        display: grid;
        grid-template-columns: 110px 110px 110px 110px;
        grid-gap: 10px;
        overflow-x: scroll;
    }
}