.section{
	overflow: hidden;
	width: 65%;
	margin: auto;
	margin-top: 20px;
	border: 1px solid lightgrey;
}
.uppersection{
	display: grid;
	grid-template-columns: 45% 55%;
}
.leftsec{
	margin: 20px 0 20px 20px;
}
.coverimg{
	height: 270px;
}
.coverimg img{
	width: 100%;
	height: 100%;
}
.subimg ul{
	display: flex;
	padding: 0;
	overflow-x: scroll;
}
.subimg li{
	list-style-type: none;
	margin-right: 10px;
	width: 90px;
}
.subimg1{
	width: 90px;
	height: 80px;
	opacity: 0.8;
}
.subimg1 img{
	width:100%;
	height:100%;
}
.subimg1:hover{
	cursor: pointer;
	opacity: 1;
	border: double rgba(0, 0, 0, .4);
}

.rightsection{
	margin: 20px;
}
.nameprice{
	color: rgba(93,93,93,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.belowname{
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.pin{
	width: 15px;
	font-size: 12px;
	height: 21px;
}
.model{
	margin-left: 5px;
}
.model p{
	margin: 0;
	color: rgba(91,91,91,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.buttons{
	margin-left: auto;
}
.buttons button{
	background-color: var(--default-color);
	color: rgba(248,248,248,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	border: none;
	border-radius: 7px;
	font-size: 12px;
	padding: 7px 0px 7px 0px;
}
.buttons button:hover{
	cursor: pointer;
}
.chatbutton{
	width: 75px;
}
.showbutton{
	width: 150px;
}
.sectionhr{
	border-top: 1px solid lightgrey;
	margin: 20px 0px 20px 0px;
}
.table{
	border: 1px solid lightgrey;
	padding: 0;
	overflow: hidden;
}
.tableheader{
	display: flex;
	justify-content: flex-start;
	padding: 10px;
	padding-bottom:0;
	font-family: 'Bebas Neue', cursive;
	font-size: 18px;
	color: rgba(248,248,248,255);
	letter-spacing: 1px;
}
.skew{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--default-color);
	transform: skewX(-24deg);
	position: relative;
	width: 150px;
	right: 18px;
	height: 30px;	
	bottom: 10px;
	cursor: pointer;
}
.skew > * { 
	transform: skewX(24deg); 
}
.skew p {
	margin: 0;
}
.skew1{
	background-color: grey;
	display: flex;
	justify-content: flex-start;
	position: relative;
	right: 18px;
	width: 150px;
	text-align: left;
}
.skew1 p{
	padding-left: 15px;
	text-align: left;
}
.table tr{
	height: 30px;
}
.table tr:nth-child(even) {
	background-color: #f2f2f2;
}
.sectiontable{
	margin: 0;
	padding: 0px;
	width: 100%;
	color: rgba(91,91,91,255);
	overflow: hidden;
	border-collapse: collapse;
}
.sectiontable td{
	padding: 5px;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: rgba(91,91,91,255);
	font-size: 12px;
}
.sectiontable .td{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.sectiontable .td p{
	margin: 0;
	margin-left: 3px;
}
.sectiontable .td img{
	width: 20px;
	height: auto;
	margin-right: 2px;
}
.cardetails{
	display: none;
}
.cardetails td:nth-child(even) {
	opacity: 0.7;
}
.lowersection{
	margin: 0px 20px 20px 20px;
	overflow: hidden;
	border: 1px solid lightgrey;
}

.desp{
	margin: 0;
	background-color: var(--default-color);
	transform: skewX(-24deg);
	width: 175px;
	padding: 5px 5px 5px 30px;
	position: relative;
	right: 10px;
	font-size: 18px;
	font-family: 'Bebas Neue', cursive;
	color: rgba(248,248,248,255);
}
.desp p{
	margin: 0;
}
.desp > * { 
	transform: skewX(24deg); 
}
.details{
	margin:  20px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: rgba(93,93,93,255);
	text-align: justify;
	line-height: 1;
}






/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	.section{
		width: 70%;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
 

  	.section{
		width: 100%;
		border: none;
	}
	.subimg1{
		width: 80px;
	}
	
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	
  	.section{
		width: 100%;
		border: none;
	}
	.subimg1{
		width: 80px;
	}

	th, td{
		font-size: 11px;
	}

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  
  	.section{
		width: 99%;
		border: none;
	}
	.uppersection{
		display: flex;
		flex-direction: column;
	}
	.leftsec{
		display: flex;
		flex-direction: column;
		width: 500px;
		/*height: 200px;*/
		margin: auto;
		margin-bottom: 0;
	}
	/*.coverimg{
		width: 50%;
		height: 250px;
	}
	.subimg{
		width: 50%;
		height: 250px;
	}
	.subimg ul{
		margin: 0;
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		height: 250px;
	}
	.subimg1{
		width: 50px;
	}*/
	.rightsection{
		margin-top: 0;
	}

	th, td{
		font-size: 11px;
	}
	
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  	
  	.section{
		width: 99%;
		border: none;
	}
	.uppersection{
		display: flex;
		flex-direction: column;
	}
	.leftsec{
		margin: 0px;
		width: 350px;
		/*height: 100px;*/
		margin: auto;
		margin-bottom: 0;
	}
	.rightsection{
		margin: 10px;

	}
	.lowersection{
		margin: 10px;
	}

	th, td{
		font-size: 10px;
	}
	
}
